.open-sans-normal {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
}

/* shared style */
.secondary_bg{
    background-color: #FFF8F3;
}
.text_primary{
    color: #FD6E0A;
}
.dark_2{
    color: #474747;
}
.dark_3{
    color: #757575;
}
.btn_primary{
    background-color: #FD6E0A;
    font-weight: bold;
    font-size: 20px;
    color: white;
    padding: 18px 35px;
    border-radius: 5px;
    border: none;
}
.section_title{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}
.section_description{
    font-size: 18px;
    color: #757575;
}
.text_align{
    text-align: center;
}
/* header  */
.header{
    background-image: url(../images/developer.png), url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}
/* nav style */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}
.nav_title{
    font-weight: 800;
    font-size: 45px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin-right: 51px;
}
nav ul li a{
    text-decoration: none;
    font-size: 20px;
}

/* banner style */
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 38px 0 200px;
}
.banner_content{
    max-width: 580px;
}
.banner_greetings{
    font-size: 45px;
    font-weight: 600;
}
.banner_title{
    font-weight: bold;
    font-size: 85px;
}
.banner_description{
    font-size: 18px;
    font-weight: normal;
}
.banner_profile_pic{
    width: 580px;
}
/* main styles */
main{
    max-width: 1140px;
    margin: 0 auto;
}
main section{
    margin-top: 130px;
    margin-bottom: 130px;
}
/* about styles */
.about{
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
}
.about_items{
    display: flex;
    justify-content: space-around;
}
.item_description{
    font-weight: bold;
}
/* skills styles */
.skill_container{
    display: flex;
    gap: 24px;
}
.skill{
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px rgba(0,0,0,0.06)
}
/* resume style */
.resume_container{
    display: flex;
    gap: 24px;
}
.expperiance_subtitle{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}
.expperiance_description, .expperiance_subtitle{
    color: #757575;
}
.resume hr{
    margin: 30px 2px 30px 0px;
}
.btn_download{
    margin-top: 50px;
}
/* footer style */
footer{
    padding: 130px 230px;
    display: flex;
    gap: 100px;
}
.footer_column{
    width: 50%;
}
footer input[type="text"], footer input[type="email"], footer textarea{
    height: 64px;
    border-radius: 5px;
    background-color: #fff;
    display: block;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 24px;
    border: navajowhite;
    font-size: 16px;
}

/* responsive for mobile */
@media screen and (max-width:576px){
    
    nav,
    nav>ul,
    .banner,
    .about_items,
    .skill_container,
    .resume_container,
    .secondary_bg{
        flex-direction: column;
    }
    nav{
        margin: 10px;
    }
    .banner{
        margin: 5px;
    }
    .banner_profile_pic{
        width: 100%;
    }
    .secondary_bg{
        background-image: none;
        padding: 20px;
    }
    .btn_primary{
        margin-bottom: 5px;
    }
    .footer_column{
        width: calc(100% - 40px);
    }
}

/* responsive for tablet */

@media screen and (min-width:576px) and (max-width:992px){
    .banner{
        flex-direction: column;
    }
    .skill_container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    .secondary_bg{
        padding: 20px;
    }
    footer input[type="text"], footer input[type="email"], footer textarea{
        width: 85%;
    }
}